<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/google-map.css">
    <link rel="stylesheet" href="css/mailform.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script><!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    </html>
    <script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/device.min.js"></script>

    <script src="js/angular.js"></script>
    <script src="js/jquery.js"></script>


    <script src="js/calendario.js"></script>
    <script src="js/modal.js"></script>

    <script src="admin/plugins/datepicker/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="admin/plugins/datepicker/datepicker3.css">
    <script src="admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <link rel="stylesheet" href="admin/plugins/timepicker/bootstrap-timepicker.min.css">


    <link rel="stylesheet" href="bootstrap.css">



    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boot.css">


  </head>
    <body>
      <div class="page">
        <!--
        ========================================================
                                    HEADER
        ========================================================


        -->
        <header>
          <div class="container">
            <div class="brand">
              <IMG src="images/SPOLAN%20LOGO%201.png" WIDTH=100 HEIGHT=130 >
              <h1 class="brand_name">
                <IMG src="images/SPOLAN%20LOGO%202.png" WIDTH=300 HEIGHT=130 >

              </h1>

            </div>

            <a href="callto:#" class="fa-phone">(03)2962505 - 0996617500</a>
            <p style="color:#AD1D24  ">Escríbenos o comunícate con nosotros</p>


          </div>
          <div id="stuck_container" class="stuck_container">
            <div class="container">
              <nav class="nav">
                <ul data-type="navbar" class="sf-menu">
                  <li class="active">
                    <a   href="index.html">Inicio</a>
                  </li>

                  <li>
                    <a href="index-1.html">Spolan</a>
                  </li>
                  <li>
                    <a >Idiomas</a>
                    <ul>
                      <li><a  href="ingles.html">INGLES</a></li>
                      <li><a href="italiano.html">ITALIANO</a></li>
                      <li><a href="portugues.html"> PORTUGUÉS</a></li>
                    </ul></a>
                  </li>
                  <li>
                    <a href="https://accounts.google.com/ServiceLogin/identifier?service=classroom&passive=1209600&continue=https%3A%2F%2Fclassroom.google.com%2F&followup=https%3A%2F%2Fclassroom.google.com%2F&emr=1&flowName=GlifWebSignIn&flowEntry=AddSession">Aula Virtual</a>
                  </li>
                  <li>
                    <a >Contactos</a>
                    <ul>
                      <li><a >UBÍCANOS</a>
                        <ul>
                          <li><a href="index-4.html">RIOBAMBA</a></li>
                          <li><a href="cumanda.html">CUMANDA</a></li>

                        </ul>

                      </li>
                      <li><a href="index-8.html">SUSCRIBETE</a></li>
                      <li><a href="agenda.html">AGENDA TU PRUEBA</a></li>
                    </ul></a>

                  </li>


                </ul>
              </nav>
            </div>
          </div>
        </header>
      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
        <main>
          <section class="well1" id="suscribite" ng-app="myAppCalendario" ng-controller="calendario">
            <div class="container"  >
              <h2>Agenda tu Examen</h2>

              <div class="form-group col ">
                <label>Elija la ciudad </label>
                <select class="form-control select2"   ng-model="ciudad"  style="width: 100%; background-color: #f5f5f5;   ">
                  <option selected="selected">Riobamba</option>
                  <option>Cumanda</option>
                </select>
              </div>

              <form  class="mailform off2"  style=" text-align: center " >
                <input type="hidden" name="form-type" value="contact">

                <fieldset class="row">
                  <label class="grid_4">
                    <input type="text"  placeholder="Nombre:" data-constraints="@LettersOnly @NotEmpty" ng-model="formulario.nombre">
                  </label>
                  <label class="grid_4">
                    <input type="text"  placeholder="Apellido:" data-constraints="@LettersOnly @NotEmpty" ng-model="formulario.apellido">
                  </label>

                  <label class="grid_4">
                    <input type="text"  placeholder="Email:" data-constraints="@Email @NotEmpty" ng-model="formulario.email">
                  </label>


                  <label class="grid_4">
                    <input type="text"  placeholder="Teléfono o Celular :" data-constraints="@Phone @NotEmpty " ng-model="formulario.telefono"  >

                  </label>




                  <label class="grid_4">
                    <div class="form-group">
<label>Fecha:</label>
                      <div class="input-group date">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <input  style="height: 10%"  type="text" class="form-control pull-right" id="datepicker"  data-constraints="@DATE @NotEmpty" >
                      </div>
                      <!-- /.input group -->
                    </div>
                  </label>

                  <label class="grid_4">
                    <div class="bootstrap-timepicker">
                      <div class="form-group">
                        <label>Hora:</label>
                                          <div class="input-group">
                          <input style="height: 10%" type="text" class="form-control timepicker" id="timepicker">

                          <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
                    </div>



                  </label>



                  <div class="grid_12" align="center ">
                    <button  class="btn" ng-click="enviar()">Enviar</button>
                  </div>
                  <label>{{mensaje}}</label>

                </fieldset>
              </form>


            </div>
          </section>
        </main>
      <!--
      ========================================================
                                  FOOTER
      ========================================================
      -->
        <footer>
          <section class="wel9">
            <div class="container">
              <ul class="row contact-list">
                <li class="grid_4">
                  <br>
                  <div class="box">
                    <div class="box_aside">
                      <div class="icon2 fa-map-marker"></div>
                    </div>
                    <div class="box_cnt__no-flow">
                      <address>Carlos Zambrano <br/>Y Primera Constituyente <br/>RIOBAMBA </address>
                    </div>
                  </div>
                  <div class="box">
                    <div class="box_aside">
                      <div class="icon2 fa-map-marker"></div>
                    </div>
                    <div class="box_cnt__no-flow">
                      <address>Av. Los Puentes y 9 de Octubre   <br/>
                        (Altos del Registro Civil) <br/>CUMANDÁ </address>
                    </div>
                  </div>
                </li>

                <li class="grid_4">
                  <br>
                  <div class="box">
                    <div class="box_aside">
                      <div class="icon2 fa-phone"></div>
                    </div>
                    <div class="box_cnt__no-flow"><a href="callto:#"  style="font-size: 15px ">(03)2962505 <br/>RIOBAMBA </a></div>
                  </div>
                  <div class="box">
                    <div class="box_aside">
                      <div class="icon2 fa-phone"></div>
                    </div>
                    <div class="box_cnt__no-flow"><a href="callto:#"   style="font-size: 15px ">(03)2326463  <br/>CUMANDÁ </a></div>
                  </div>
                </li>

                <li class="grid_4">
                  <br>
                  <div class="box">
                    <div class="box_aside">
                      <div class="icon2 fa-facebook"></div>
                    </div>
                    <div class="box_cnt__no-flow"><a style="color: white" href="https://www.facebook.com/spolanidiomas/">Academia de Idiomas Spolan
                    </a>
                      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fspolanidiomas%2F&width=108&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId" width="108" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                  </div>
                  <div class="box">
                    <div class="box_aside">
                      <div class="icon2 fa-envelope"></div>
                    </div>
                    <div class="box_cnt__no-flow"><a style="color: white" href="mailto:#">spolaningles@gmail.com</a></div>
                  </div>
                </li>
              </ul>
            </div>
          </section>
          <section>
            <div class="container">
              <div class="copyright">Spolan Company © <span id="copyright-year"></span>.&nbsp;&nbsp;<a style="color: white" href="">Privacy Policy</a>
              </div>
            </div>
          </section>
        </footer>
      </div>

      <script src="js/script.js"></script>

    </body>
</html>