<div class="container-fluid">

    <div class="row">



        <div class="col-md-12">



            <div class="box box-info">
                <div class="box-header">
                                      <!-- tools box -->

                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body pad">
                    <form>

                        <label>Asunto:</label>
                        <input  type="text" class="form-control "  ng-model="mensaje.asunto">
                        <br>
                        <textarea ng-model="mensaje.contenido" data-ck-editor></textarea>

                        <br>
                        <button  class="button" ng-click="enviar()">Enviar</button>

                        <label>{{notificacion}}</label>


                    </form>
                </div>
            </div>





            </div>



        </div>




    </div>