<div class="container-fluid">




<div class="box">
    <div class="box-header">
        <h3 class="box-title">Listado de Pacientes</h3>
<br>
        <button type="button" class="btn btn-primary" ng-click="showCargarArchivos('/registroCurso')">Registro de nuevo Curso</button>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1"  class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Nivel</th>
                <th>Paralelo</th>
                <th>profesor</th>
                <th>horario</th>


            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="docente in ldocentes ">
                <td>{{docente.nombre}}</td>
                <td>{{docente.paralelo}}</td>
                <td>{{docente.docente}}</td>
                <td>{{docente.horario}}</td>

                <td>
                    <button type="button" ng-click="editarCurso(docente)" class="glyphicon glyphicon-edit text-warning">

                    </button>
                </td>



            </tbody>

        </table>





    </div>


    <!-- /.box-body -->
</div>

</div>