<div class="container-fluid">




<div class="box">
    <div class="box-header" align="center">
        <h3 class="box-title">LISTA DE CURSOS</h3>
<br> <div ALIGN="RIGHT">
        <button type="button"  style="background-color: #AD1D24;border-color:#DBAC1F;" class="btn btn-primary" ng-click="showCargarArchivos('/registroCurso')">Registro de nuevo Curso</button>
    </div>

    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Idioma</th>
                <th>Nivel</th>
                <th>Paralelo</th>
                <th>profesor</th>
                <th>horario</th>
                <th class="all">Opciones</th>



            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="docente in ldocentes ">
                <td>{{docente.idioma}}</td>
                <td>{{docente.nombre}}</td>
                <td>{{docente.paralelo}}</td>
                <td>{{docente.docente}}</td>
                <td>{{docente.horario}}</td>


                <td>
                    <button type="button" ng-click="editarCurso(docente)" class="glyphicon glyphicon-edit text-warning">

                    </button>
                    <button type="button" ng-click="estudiantes(docente)" class="fa fa-th-list" alt="sinoaparecelaimg"  title="Listado de Estudiantes en el Curso ">
                    </button>
                </td>



            </tbody>

        </table>





    </div>


    <!-- /.box-body -->
</div>

</div>