<div class="container-fluid">




<div class="box">
    <div class="box-header">
        <div align="center">
        <h3 class="box-title">LISTA DE DOCENTES</h3>
    </div>
<br>
        <div align="right">
        <button type="button" class="btn btn-primary antosubmit2" ng-click="showCargarArchivos('/registroDocente')">Nuevo Docente</button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1"  class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Edad</th>
                <th>Dirección</th>
                <th>Opciones</th>


            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="docente in ldocentes ">
                <td>{{docente.cedula}}</td>
                <td>{{docente.nombres}}</td>
                <td>{{docente.apellidos}}</td>
                <td>{{docente.correo}}</td>
                <td>{{docente.telefono}}</td>
                <td>{{docente.edad}}</td>
                <td>{{docente.direccion}}</td>

                <td>
                    <button type="button" ng-click="editarDocente(docente)" class="glyphicon glyphicon-edit text-warning">

                    </button>
                </td>







            </tbody>

        </table>



    </div>


    <!-- /.box-body -->
</div>

</div>