<div class="container-fluid">




<div class="box">
    <div class="box-header">
        <div ALIGN="CENTER">
        <h3 class="box-title">LISTA DE ESTUDIANTES</h3>
        </div>
<br>
        <div align="right">
        <button type="button" class="btn btn-primary antosubmit2" ng-click="showCargarArchivos('/registroE')">Nuevo Estudiante</button>

        </div>
        </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1"  class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Edad</th>
                <th>Dirección</th>
                <th>Opciones</th>

            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="estudiante in lestudiante ">
                <td>{{estudiante.cedula}}</td>
                <td>{{estudiante.nombres}}</td>
                <td>{{estudiante.apellidos}}</td>
                <td>{{estudiante.correo}}</td>
                <td>{{estudiante.telefono}}</td>
                <td>{{estudiante.edad}}</td>
                <td>{{estudiante.direccion}}</td>





                <td>
                    <button type="button" ng-click="eliminar(tarea)" class="glyphicon glyphicon-remove text-danger">

                    </button>
                    <button type="button" ng-click="procesarObjeto(tarea)" class="glyphicon glyphicon-edit text-warning">

                    </button>
                </td>



            </tbody>

        </table>



    </div>


    <!-- /.box-body -->
</div>

</div>