<div class="container-fluid">

    <div class="row">



        <div class="col-md-12">



            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sitios guardados</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-12 col-xs-12 table-responsive">

                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>

                                        <tr>

                                            <th>Lugar </th>
                                            <th>Ambito</th>
                                            <th>Canton</th>
                                            <th>Descripción corta </th>

                                            <th>Imagen <p></p>Principal</th>
 <th>acciones</th>


                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="consulta in listamsg ">
                                            <td>
                                                {{consulta.nombre}}
                                            </td>
                                            <td>

                                                {{consulta.apellido}}

                                            </td>
                                            <td>
                                            
                                                <select style="cursor:default;  background-color: rgba(255, 255, 255, .4);" class="form-control "  ng-model="consulta.estado_msg" ng-options="item.nombre as item.nombre for item in estados" ng-change="actulizar(consulta)"  ></select>

                                            </td>
                                            <td>
                                                {{consulta.c_descripcion}}
                                            </td>


                                            <td>


                                                <a href="" data-toggle="modal" data-target="#lightbox" data-whatever="{{consulta.imagen}}">
                                                    <img ngf-src="consulta.imagen" width="100" height="100">

                                                </a>

                                            </td>




                                            <td>
                                                <button type="button" ng-click="eliminar(consulta)" class="glyphicon glyphicon-remove text-danger" alt="Eliminar datos" title="Eliminar datos">

                    </button>
                                                <button type="button" ng-click="procesarObjeto(consulta)" class="glyphicon glyphicon-edit text-warning" alt="Modificar datos"
                                                    title="Modificar datos">

                    </button>
                                            </td>







                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                        </div>
                        <!-- /.box-body -->

                        <!-- /.box-footer -->
                </form>
                </div>





            </div>



        </div>




    </div>