
<div class="container-fluid">


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Ingreso de  Matricula</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->


        <div class="box-body">

            <form role="form" ng-submit="guardarMatricula()">

            <div class="form-group col-md-5 col-sm-5 col-xs-12">
                <label class="control-label ">Estudiante: </label>


                <input   required id="hero-demo" autofocus type="text" name="q" placeholder="Busque por nombre o apellido al estudiante" class="form-control col-md-7 col-xs-12"  ng-model="Opcion2">


            </div>


            <div required class="form-group col-md-7 col-sm-5 col-xs-12">
                <label class="control-label ">Curso: </label>

                    <select  required class=" form-control"  ng-model="curso" ng-options="item as item.descripcion for item in cursos">
                        <option disabled value="" selected hidden>Seleccione</option>

                    </select>

            </div>


            <div class="form-group " align="right">
                <button style="background-color: #AD1D24;border-color:#DBAC1F;" class="btn btn-primary antosubmit2"    type="submit"  >Aceptar</button>
            </div>

                </form>

        </div>


    </div>
</div>