<div class="container-fluid">






  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">


        <div class="clearfix"></div>
      </div>
      <div class="x_content">






      </div>










    </div>







  </div>



</div>

<div class="container-fluid">


  <div class="row">



    <div class="col-md-12">



      <div class="box box-primary">
        <div class="box-header with-border">
          <div ALIGN="CENTER"> <h2>AGENDA DE EXAMENES </h2> </div>

          <h3 class="box-title">Filtrar por :</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->



        <div class="row">



          <!-- /.col -->
          <div class="col-md-10 col-xs-10">

            <div  class="col-md-3 col-xs-3">
              <label>
                <input type="checkbox" ng-model="a.pendientes" ng-change="filtroPendiente()">
                Pendientes
              </label>
            </div>

            <div  class="col-md-3 col-xs-3">
              <label>
                <input type="checkbox" ng-model="a.ocupados" ng-change="filtroOcupado()">
                Confirmados
              </label>
            </div>

            <div  class="col-md-3 col-xs-3">
              <label>
                <input type="checkbox" ng-model="a.cancelados" ng-change="filtroCancelado()">
                Cancelados
              </label>
            </div>

            <div id='calendar1'></div>

            <!-- /. box -->
          </div>
          <!-- /.col -->
        </div>





        <div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">New Calendar Entry</h4>
              </div>
              <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                  <form id="antoform" class="form-horizontal calender" role="form">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Title</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="title" name="title">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Description</label>
                      <div class="col-sm-9">
                                    <textarea class="form-control" style="height:55px;" id="descr"
                                              name="descr"></textarea>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary antosubmit">Save changes</button>
              </div>
            </div>
          </div>
        </div>


        <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Datos del Suscriptor </h4>
              </div>
              <div class="modal-body">

                <div id="testmodal2" style="padding: 5px 20px;">
                  <form id="antoform2" class="form-horizontal calender" role="form">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">MOTIVO:</label>
                      <div class="col-sm-9">
                        <input  style="text-transform: uppercase;" type="text" class="form-control" name="title2" id="title2"
                               ng-disabled="true">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">NOMBRE:</label>
                      <div class="col-sm-9">
                        <input style="text-transform: uppercase;" type="text" class="form-control" id="nombre" ng-disabled="true">

                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">APELLIDO:</label>
                      <div class="col-sm-9">
                        <input style="text-transform: uppercase;" type="text" class="form-control" id="apellido" ng-disabled="true">

                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-3 control-label">TELEFONO:</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="telefono" ng-disabled="true">
                      </div>

                    </div>



                    <div class="form-group">
                      <label class="col-sm-3 control-label">ESTADO:</label>
                      <div class="col-sm-9">
                        <select id="estado" class="form-control" ng-change=" changeFecha()" ng-model="valor">

                          <option value="pendiente">Pendiente</option>
                          <option value="ocupado">Confirmado</option>
                          <option value="cancelado">Cancelado</option>
                          <option value="cambio">Cambio de fecha</option>

                        </select>

                      </div>

                      <div  ng-show="nuevaFecha" class="col-sm-5">



                          <div class="form-group">
                            <label>Fecha:</label>

                            <div class="input-group date">
                              <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </div>
                              <input  type="text" class="form-control pull-right" id="datepicker"   >
                            </div>
                            <!-- /.input group -->
                          </div>


</div>
                        <div  ng-show="nuevaFecha" class="col-sm-5">


                          <div class="bootstrap-timepicker">
                            <div class="form-group">

                              <label>Hora:</label>

                              <div class="input-group">
                                <input  type="text" class="form-control timepicker" id="timepicker">

                                <div class="input-group-addon">
                                  <i class="fa fa-clock-o"></i>
                                </div>
                              </div>
                              <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                          </div>




                      </div>




                    </div>


                  </form>
                </div>
              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-default antoclose" data-dismiss="modal">cerrar</button>
                <button type="button" class="btn btn-primary antosubmit2" data-dismiss="modal">Guardar Cambios
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
        <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>



      </div>





    </div>



  </div>




</div>
