<div class="container-fluid"> 
    <div class="row"> 
        <div class="col-md-12"> 
            <div class="box box-primary"> 
                <div class="box-header with-border"> 
                    <h3 class="box-title">Cursos</h3>
                    <br> 

                </div>                 
                <!-- /.box-header -->                 
                <!-- form start -->                 
                <form class="form-horizontal"> 
                    <div class="box-body"> 
                        <div class="row"> 
                            <div class="col-md-12 col-xs-12 table-responsive"> 
                                <table id="example1" class="table table-bordered table-striped"> 
                                    <thead> 
                                        <tr> 
                                            <th>Cedula</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Examen  1</th>
                                            <th>Examen  2</th>
                                            <th>Proyecto </th>
                                            <th>Nota final</th>

                                        </tr>                                         
                                    </thead>                                     
                                    <tbody> 
                                        <tr ng-repeat="consulta in estudiantes ">
                                            <td> 
                                                {{consulta.cedula}}</td>
                                            <td> 
                                                {{consulta.nombres}}</td>

                                            <td> 
                                                {{consulta.apellidos}}</td>

                                            <td>

                                                <input  ng-model="notas[$index].nota1" ng-change="suma($index)" type="number"  />
                                                
                                            </td>
                                            <td>

                                                <input   ng-model="notas[$index].nota2" ng-change="suma($index)" type="number"  />

                                            </td>
                                            <td>

                                                <input  ng-model="notas[$index].nota3" ng-change="suma($index)" type="number"  />

                                            </td>
                                            <td>

                                                <input  ng-disabled="true" ng-model="notas[$index].nota4" type="number"  />

                                            </td>

                                        </tr>                                         
                                    </tbody>                                     
                                </table>                                 
                            </div>

                        </div>                         
                        <!-- /.box-body -->                         
                        <!-- /.box-footer -->



                </form>

                <div class="form-group " align="right">
                    <button  style="background-color: #AD1D24;border-color:#DBAC1F;" class="btn btn-primary antosubmit2" ng-click="guardar()"  >Guardar Notas</button>
                </div>

            </div>             
        </div>         
    </div>     
</div>